/* Todas as demais midias */


/*Typical Device Breakpoints
Small deviuces: max 600px
Phone: min 600px max 768px
Tablets: min 768px max 992px
Desktop: min 992px max 1200px
Large Desktops: min 1200px
*/
*{
    font-family: 'Courier New', Courier, monospace;
}
@media print {
    body{
        background-image: url(../imagens/icon-print.png);
    }
    main h1{
        color: black;
        text-shadow: none;
    }
    main{
        width: 90vw;
        border: 2px solid black;
    }
    main::after{
        content: 'Essa impressão foi feita atraves do site do curso em video';
        text-decoration: overline;
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}
@media screen and (min-width: 1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    main{
        width: 700px;
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: block;}
}